body{
    margin: 0%;
}

nav{
    background-color: #37A58F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.menu-de-busca{
    display: flex;
    gap: 20px;
}

img{
    height: 50px;
}