body {
    background-color: #F1EBEB; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.containerNoticia{
    padding-top: 65px;
}

.Noticia {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 15px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Noticia:hover {
    transform: scale(1.01); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); 
    z-index: 10;
  }

.TituloNoticia {
    flex: 1 1 60%;
    padding: 10px;
}

.ImagemNoticia img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    border: none;
}

.ImagemNoticia {
    flex: 1 1 40%;
    max-width: 20%;
}

h1 {
    font-size: xx-large;
    color: #37A58F;
}

.Noticia a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.ContainerBloco{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {

  .Noticia {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .ContainerBloco {
    flex-direction: column;
    align-items: center;
  }

  .ImagemNoticia {
    max-width: 100%;
    width: 100%;
  }

  .ImagemNoticia img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .TituloNoticia {
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  .TituloNoticia h1 {
    font-size: large;
  }

  .containerNoticia {
    padding: 70px 10px 20px 10px;
  }
}
