body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }


  .containerNoticia{
    padding-top: 65px;
    text-align: center;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .highlight {
    color: #269989;
  }
  
  .description {
    font-weight: bold;
    margin: 10px 0 20px;
  }
  
  .boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .box {
    width: 45%;
    height: 500px;
    padding: 15px;
    border: 2px solid #269989;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    justify-content: center;
  }
  
  .link-section {
    margin: 20px 0;
  }
  
  .link-section p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .link {
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #269989;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  