body{
    margin: 0%;
}

.containerNoticia{
    padding-top: 65px;
}

nav{
    background-color: #37A58F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.SearchMenu{
    display: flex;
    gap: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: lowercase;
  }
  
  .logo span {
    font-weight: normal;
    display: block;
    font-size: 0.8em;
  }
  
  .icons {
    display: flex;
    gap: 15px;
    font-size: 1.5em;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .highlight {
    color: #269989;
  }
  
  .description {
    font-weight: bold;
    margin: 10px 0 20px;
  }
  
  .boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .box {
    width: 300px;
    padding: 15px;
    border: 2px solid #269989;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  
  .link-section {
    margin: 20px 0;
  }
  
  .link-section p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .link {
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #269989;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  