.Noticia{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.TituloNoticia {
    flex: 1 1 60%;
    padding: 10px;
}

.ImagemNoticia img {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    border: 1px solid black;
}
.ImagemNoticia {
    flex: 1 1 40%;
    max-width: 40%;
}
